html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}

main {
  flex: 1; /* umple spațiul liber */
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  padding: 0 5em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  height: 140px; /* mai mare decât înainte */
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
  color: #333;
  padding-top: 140px; /* trebuie să fie egal cu height-ul navbar-ului */
}

.navbar .logo {
  height: 180px; /* aproape cât navbar-ul */
  margin: 0;
  display: block;
}


header a:hover {
  color: rgb(112, 128, 170);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5em;
  padding: 0;
  margin: 0;
}
.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}


 /* Footer */
footer {
  background: #277a92;
  color: white;
  padding: 1em;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0.5em;
}
footer a {
  color: white;
  text-decoration: underline;
}

footer .copyright {
  text-align: center;
  margin-top: 2em;
  max-width: 1200px;
  margin-left:auto;
  margin-right: auto;
  padding: 0 1em;
}


@media (max-width: 768px) {

  /* Navbar */
.navbar {
    padding: 0 1em;
    flex-wrap: nowrap; /* să nu se împacheteze */
    justify-content: flex-start; /* aliniaza la stanga */
    align-items: center;
}


  .navbar .logo {
    height: 80px;
    margin: 0.5em 0;
  }

.nav-links {
  display: flex;
  flex-direction: row;
  gap: 1em; /* distanța între linkuri */
    margin-left: 0.5em; /* puțin spațiu între logo și linkuri */
    padding: 0;
    flex-wrap: nowrap; /* să nu se împacheteze */
    justify-content: flex-start; /* aliniere la stânga */
}
.nav-links a {
  font-size: 0.85rem; /* font mai mic, să încapă */
}

}